@import "tailwindcss";
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}



@layer utilities {
  .highlight {
    animation: highlightAnimation 1.6s ease-in-out;
  }

  @keyframes highlightAnimation {
    0% { background-color: yellow; }
    100% { background-color: transparent; }
  }
}
