@import "tailwindcss";
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}
@keyframes slide-left {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.animate-slide-left {
  animation: slide-left 0.3s ease forwards;
}
