# Ignorer tous les node_modules où qu'ils soient
**/node_modules/

# Dossiers Node spécifiques (optionnel)
backend/node_modules/
frontend/node_modules/

# Build Next.js
frontend/.next/

# Environnement
.env
